.list-item-button {
  transition: background-color 0.3s ease;
}

.list-item-button:hover {
  background-color: #D4A8DC;
}

.list-item-button.Mui-selected {
  background-color: #641c71;
  color: #000000;
}

.list-item-button.Mui-selected:hover {
  background-color: #39163f;
}

.list-item-button.Mui-selected .MuiListItemText-root {
  color: #FFFFFF;
}
