# Copyright (C) 2018-2022 Intel Corporation
# Copyright (C) 2025 daniel.ai Corporation
#
# SPDX-License-Identifier: MIT

version: '3.8'

services:
  daniel-service:
    build:
      context: .
      dockerfile: Dockerfile  
    container_name: daniel-service
    ports:
      - "8080:8080"  # Map Uvicorn port
      - "80:80"      # Map Apache port
    volumes:
      - daniel_data:/home/data
    environment:
      - MYSQL_HOST=daniel-mysql
      - MYSQL_PORT=3306
      - MYSQL_USER=daniel_user
      - MYSQL_PASSWORD=daniel_password_2025
      - MYSQL_DATABASE=daniel_school
      - DATABASE_URL=mysql+pymysql://daniel_user:daniel_password_2025@daniel-mysql:3306/daniel_school?ssl_disabled=true
    depends_on:
      - daniel-mysql
    networks:
      - daniel

  daniel-mysql:
    image: mysql:8.0
    container_name: daniel-mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root_password_2025
      - MYSQL_DATABASE=daniel_school
      - MYSQL_USER=daniel_user
      - MYSQL_PASSWORD=daniel_password_2025
    volumes:
      - mysql_data:/var/lib/mysql
      - ./scripts/init_mysql.sql:/docker-entrypoint-initdb.d/init_mysql.sql
    networks:
      - daniel

volumes:
  daniel_data:
  mysql_data:
networks:
  daniel:
